.HomeBanner{
    background: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerH{
    height: 100vh;
}
.buildBtn{
    color: #452b78;
    border: 2px solid #452b78;
    transition: .4s ease;
}
.subBtn{
    color: white;
    border: 2px solid #452b78;
    transition: .4s ease;
}
.subBtn:hover{
    background-color: #452b78;
    color: white;
}
.buildBtn:hover{
    background-color: #452b78;
    color: white;
}
.go{
    font-size: 16rem;
    color: white;
}
.supportImg{
    transform: translateX(-220px);
}
@media screen and (max-width: 600px) {
    .go{
        font-size: 10rem;
    }
    .bannerH{
        height: 60vh;
    }
    .supportImg{
        transform: translateX(0px);
    }
}
.support{
    cursor:grab;
}
.say{
    cursor:grab;
}
.aboutBanner{
    background: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.teamCard{
    background-color: #ebebeb;
    transition: .3s ease;
    cursor: pointer;
}
.teamCard:hover{
    background-color: #452b78;
    color: white;
}
.teamCard:hover a{
    color: white;
}
.teamImg{
    transform: translate(-50px , -50px);

}
.serviceBanner{
    background: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.serviceDevice{
    background-color: #452b78;
}
.serviceDevice img{
    transform: translateY(150px);
}
.serviceBox{
    transition: .3s ease;
    cursor: pointer;
}
.serviceBox:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blogCard{
    transition: .3s ease;
    cursor: pointer;
}
.blogCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}