#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.cards .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.cards .swiper-slide img {
  display: block;
  width: 100%;
}
